*.pdf
examples/*
scv*
systemc*
*.vcd
.vscode/ipch/*
.vscode/c_cpp_properties.json
Task0/hello
Task1/main
Task1/*.cpp.o
Task2/main
Task3/main
Task3/*.cpp.o
Task2/main-fa
Task4/main
Task4/*.cpp.o
Task4/test_out.bmp
